<app-input [(ngModel)]="modelVal" #val1="ngModel" [validationControl]="val1" note="Enter something"></app-input>

<app-input [formControl]="formControl" [validationControl]="formControl" note="Enter something" [validationMessages]="validationMessages"></app-input>

<form [formGroup]="form">
    <app-input formControlName="foo" [validationControl]="form.get('foo')" note="Enter something" [validationMessages]="validationMessages"></app-input>
    <app-input formControlName="bar" [validationControl]="form.get('bar')" note="Enter something" [validationMessages]="validationMessages"></app-input>
    <app-validation-line [control]="form" note="Alright" [validationMessages]="validationMessages"></app-validation-line>
</form>
  
<app-input [(ngModel)]="modelVal" note="Input without validation control"></app-input>